
.main-body {
}
.main-header {
  margin: 10px 7px;
}
.main-update-list p,ul{
  margin: 0px;
  font-size: 12px;
}

.main-bug-list p,ul{
  margin: 0px;
  font-size: 12px;
}

.main-controll-panel {
  margin: 0px 7px;
}

.main-events {
}
.add-event-tab {
  margin-left: 0px !important;
}
.add-event-temp {
  margin-left: 0px !important;
}
.add-event-button {
  margin-left: 0px;
  margin-right: auto;
  width: 150px;
  height: 70px;
  border: 0px;
}
.joke-face {
  margin: 20px;
  font-size: 32px;
  height: 50px;
}
