

<div class="main-header">
  <h1>MoE アナウンス支援君 Ver 0.0.2</h1>
  <h3>α版です。予告なく崩壊します。なんの責任も持ちません by <a  href="https://twitter.com/mznh_moe">@mznh_moe</a></h3>
  <p>いいね～！とかこれほしい！とかご意見歓迎です <a href="https://marshmallow-qa.com/mznh_moe">マシュマロ</a></p>
  <p>
  変更点：sayやshoutを選択できて、それに合わせたコマンド付きでコピペできるボタンを追加。hogeってなってるものは旧仕様
  </p>
</div>

<div class="main-controll-panel">
  <button mat-stroked-button color="primary" (click)="saveLocalData()">SAVE</button>
  <button mat-stroked-button color="primary" (click)="loadLocalData()">LOAD</button>
  <button mat-stroked-button color="primary" (click)="saveDataToJson()">SAVE AS FILE</button>
  <a #jsonDownload ></a>
  <button mat-stroked-button color="primary" (click)="loadJsonFile()">LOAD FROM FILE</button>
	<input type="file" style="display: none" #fileInput 
		accept="*.json" (change)="onChangeFileInput()" />
</div>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="{{event.name}}" *ngFor="let event of (saveData.events)">
		<app-event
      #eventElm
			[inputEventData]="event"
      (eventChangeEvent)="eventChange($event)"
      >
		</app-event>
	</mat-tab>
  <mat-tab disabled class="add-event-tab">
    <ng-template mat-tab-label class="add-event-temp" (click)="addEvent()">
      <button mat-button class="add-event-button"color="primary" (click)="addEvent()">ADD</button>
    </ng-template>
	</mat-tab>
</mat-tab-group>

<!-- コラッ こんなところを覗くんじゃない！-->
<!-- <button mat-stroked-button color="primary" (click)="clearData()">DEBUG_DATA_CLEAR</button> -->
