

<div class="main-body">
  <div class="main-header">
    <h1>MoE アナウンス支援君(仮)Ver 0.0.3</h1>
    <h3>α版です。予告なく崩壊します。なんの責任も持ちません by <a  href="https://twitter.com/mznh_moe">@mznh_moe</a></h3>
    <p>いいね～！とかこれほしい！とかご意見歓迎です。バグ報告も大歓迎。<a href="https://marshmallow-qa.com/mznh_moe">マシュマロ</a></p>
    <div class="main-update-list">
      <p>変更点</p>
      <ul>
        <li>事あるごとにセーブするように変更（それに伴ってセーブロードボタン削除</li>
        <li>イベント単位でのファイル出力と読み込み機能追加、読み込んだイベントは一番端タブに追加されます。</li>
        <li>メッセージの並び替え機能追加</li>
      </ul>
    </div>
    <div class="main-bug-list">
      <p>既知のバグとぼやき</p>
      <ul>
        <li>編集中に真横のコピーボタンを触るとテキストが確定される(現状仕様) これ治すのめちゃ大変</li>
        <li>イベントタブの並び替えはむずい</li>
        <li>UI整理したいので、そのうち画面がガラッとかわります</li>
      </ul>
    </div>
  </div>

  <div class="main-controll-panel">
    <button mat-stroked-button color="primary" (click)="saveDataToJson()">SAVE AS FILE</button>
    <a #jsonDownload ></a>
    <button mat-stroked-button color="primary" (click)="loadJsonFile()">LOAD FROM FILE</button>
    <input type="file" style="display: none" #fileInput 
      accept="*.json" (change)="onChangeFileInput()" />
  </div>

  <div class="main-events">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{event.name}}" *ngFor="let event of (saveData.events)">
        <app-event
          #eventElm
          [inputEventData]="event"
          (eventChangeEvent)="eventChange($event)"
          >
        </app-event>
      </mat-tab>
      <mat-tab disabled class="add-event-tab">
        <ng-template mat-tab-label class="add-event-temp" (click)="addEvent()">
          <button mat-button class="add-event-button"color="primary" (click)="addEvent()">ADD</button>
        </ng-template>
        <div class="joke">
          <div class="joke-face">
            ✌ (＾ω＾)   
          </div>
          <div class="joke-text">
            これが映るのはホントはバグなんだけど、直さなくても問題なさそうなのでVサイン置いておきます。<br>
            みなさま良きMoEライフを！
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- <button mat-stroked-button color="primary" (click)="clearData()">DEBUG_DATA_CLEAR</button> -->
