

<div class="main-body">
  <div class="main-header">
    <div class="main-header-title">
      <h1>賢者のメガホン Ver 0.0.3</h1>
    </div>
    <div class="main-header-navigation">
      <a href="../../">mznh</a> / <a href="../">moe</a> / announce
    </div>
  </div>
  <div class="main-header-description">
    <h3>
      レイドやイベントのアナウンスがしやすくなる便利アプリです。アナウンス原稿の管理とゲームチャットへのコピペが簡単に行えます。by <a  href="https://twitter.com/mznh_moe">@mznh_moe</a>
    </h3>
    <p>
      機能開発や公開継続の判断に使うので「～のイベントで使ったよ！」ってマシュマロにて報告してくれると嬉しいです。
      要望やバグ報告も大歓迎。<a href="https://marshmallow-qa.com/mznh_moe">マシュマロはこちら！</a></p>
    <p> アナウンス内容はお使いのPC内に保存しているだけで、サービス提供側には一切送信されておりません。なので定期的に「SAVE AS FILE」にてバックアップを取ることをオススメします！ </p>
    <div class="main-update-list">
      <p>変更点</p>
      <ul>
        <li>コピーしたらコピーボタンを灰色に変化させる（灰色になってもコピー自体はできます）</li>
      </ul>
    </div>
    <div class="main-bug-list">
      <div class="main-bug-button" (click)="openBugBoyaki()" *ngIf="!bugBoyakiIsOpend">
        <p>既知のバグとぼやき... (click open)</p>
      </div>
      <div class="main-bug-button" (click)="closeBugBoyaki()" *ngIf="bugBoyakiIsOpend">
        <p>既知のバグとぼやき (click close)</p>
      </div>
      <div *ngIf="bugBoyakiIsOpend">
        <ul>
          <li>[バグ] 編集中に真横のコピーボタンを触るとテキストが確定される(現状仕様) </li>
          <ul>
            <li>これ治すのめちゃ大変 </li>
          </ul>
          <li>[バグ] たまに入力欄が細長くなる。</li>
          <ul>
            <li>リロードすると治るかと思います。</li>
          </ul>
          <li>[ぼやき] イベントタブの並び替えはむずい</li>
          <li>[ぼやき] UIは随時更新していくのでボタンの位置とかコロコロ変わります</li>
          <li>[ぼやき] MoEの顔文字入力UIも大変。</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-controll-panel">
    <button mat-stroked-button color="primary" (click)="saveDataToJson()">SAVE AS FILE</button>
    <a #jsonDownload ></a>
    <button mat-stroked-button color="primary" (click)="loadJsonFile()">LOAD FROM FILE</button>
    <input type="file" style="display: none" #fileInput 
      accept="*.json" (change)="onChangeFileInput()" />
  </div>

  <div class="main-events">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{event.name}}" *ngFor="let event of (saveData.events)">
        <app-event
          #eventElm
          [inputEventData]="event"
          (eventChangeEvent)="eventChange($event)"
          >
        </app-event>
      </mat-tab>
      <mat-tab disabled class="add-event-tab">
        <ng-template mat-tab-label class="add-event-temp" (click)="addEvent()">
          <button mat-button class="add-event-button"color="primary" (click)="addEvent()">ADD</button>
        </ng-template>
        <div class="joke">
          <div class="joke-face">
            ✌ (＾ω＾)   
          </div>
          <div class="joke-text">
            これが映るのはホントはバグなんだけど、直さなくても問題なさそうなのでVサイン置いておきます。<br>
            みなさま良きMoEライフを！
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="main-footer">
    <hr>
    <div class="main-footer-body">
      <div class="main-footer-right">
        <h4 class="main-footer-right-title"> 権利表記 </h4>
        <div class="main-footer-right-body">
          <p> © MOE K.K. © Konami Digital Entertainment 株式会社MOE及び株式会社コナミデジタルエンタテインメントの著作権を侵害する行為は禁止されています。 </p>
        </div>
      </div>
      <div class="main-footer-disclaimer">
        <h4 class="main-footer-disclaimer-title"> 免責事項 </h4>
        <div class="main-footer-disclaimer-body">
          <p> 本サービスに関連して生じたトラブルや損失・損害等につきまして当方は一切の責任を負いません。本サービスは予告なく提供終了することがございます。 </p>
        </div>
      </div>
      <div class="main-footer-disclaimer">
        <h4 class="main-footer-disclaimer-title"> プライバシーポリシー </h4>
        <div class="main-footer-disclaimer-body">
          <p> 本サービスはGoogleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。 </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button mat-stroked-button color="primary" (click)="clearData()">DEBUG_DATA_CLEAR</button> -->
