
.main-body {
  height:100%;
}
.main-body-dark {
  height:100%;
  background: #222222;
  color: #EEEEEE;
}

.link-text {
}
.link-text-dark {
  color: #EEEEEE;
}

.main-header {
  background: #00A1DD;
  margin: 0px;
  padding: 7px;
  height: 60px;
}
.main-header-title {
  padding-top: 6px;
}
.main-header-title h1 {
  font-weight: bolder;
  font-size: 1.75em;
  margin: 0px;
  color: #FEFEFE;
}
.main-header-navigation {
  font-weight: bold;
  font-size: 1.1em;
  color: #FEFEFE;
}
.main-header-navigation a,
.main-header-navigation a:visited{
  color: #FEFEFE;
  text-decoration: none;
}
.main-header-navigation a:hover {
  text-decoration: underline;
}

.main-header-description {
  margin: 10px 7px;
}
.main-update-list p,ul{
  margin: 0px;
  font-size: 12px;
}

.main-bug-button {
  width: 190px;
  padding-left: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}

.main-bug-list p,ul{
  margin: 0px;
  font-size: 12px;
}

.main-controll-panel {
  margin: 0px 7px;
}

.main-controll-panel-dark {
  margin: 0px 7px;
}
.dark-mode-toggle {
  margin-left: 10px;
}

.main-events {
}

::ng-deep .mat-tab-label {
  color: #808080;
}

.add-event-tab {
  margin-left: 0px !important;
}
.add-event-temp {
  margin-left: 0px !important;
}
.add-event-button {
  margin-left: 0px;
  margin-right: auto;
  width: 150px;
  height: 70px;
  border: 0px;
}
.joke-face {
  margin: 20px;
  font-size: 32px;
  height: 50px;
}

.isNormalMode {
}
.isDarkMode {
  background: #222222;
  color: #EEEEEE;
}

hr {
  margin: 0px;
}


/* footer */
/* component わけたほうがいい*/
.main-footer {
  height: 100%;

}
.main-footer-dark {
  height: auto;
  background: #222222;
  color: #EEEEEE;
}
.main-footer-body {
  font-size: 10pt;
}

.main-footer-right, .main-footer-disclaimer{
  padding: 7px;
}
.main-footer-right-title, .main-footer-disclaimer-title {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.main-footer-right-body p,
.main-footer-disclaimer-body p {
  font-size: 14px;
  padding: 0px;
  margin: 2px;
}
