.message {
  margin: 7px 0px;
  display: grid;
  grid-template-columns: 300px 100px 50px;
}
.mat-input-wrapper, .messageText{
  height: 20px ;
}
.messageCopyButton{
  margin: 0px 5px;
}
.messageDeleteButton{
  margin: 0px 0px;
}
