
<div class="message">
  <mat-form-field appearance="legacy" class="message-type-form" (click)="clickTypeSelectForm()" >
    <mat-select #typeValue class="message-type-select" tabindex="-1" 
      [(value)]="inputMessageType" (selectionChange)="typeChange($event.value)" >
      <mat-option value="say">say</mat-option>
      <mat-option value="shout">shout</mat-option>
      <mat-option value="auc">auc</mat-option>
      <mat-option value="kgr">===</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container [ngSwitch]="inputMessageType">
    <ng-container *ngSwitchCase="'hoge'">
      <div class="message-body-text">
        <textarea matInput class="message-text" #messageValue (change)="textChange()" > </textarea>
        <button mat-stroked-button color="primary" class="message-copy-button" 
          tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboard()">コピー！</button>
        <button mat-stroked-button color="primary" class="message-cmd-copy-button" 
          tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboardWithCmdStyle()">コマンド<br>コピー！</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'kgr'">
      <div class="message-body-kugiri">
        <div #messageValue style="display: none" > </div>
        <div class="message-text-kugiri">
          =====================================
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="message-body-text">
        <textarea matInput class="message-text" #messageValue cdkTextareaAutosize (change)="textChange()" > </textarea>
        <button mat-stroked-button color="primary" class="message-copy-button" 
          tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboard()">コピー！</button>
        <button mat-stroked-button color="primary" class="message-cmd-copy-button" 
          tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboardWithCmdStyle()">コマンド<br>コピー！</button>
      </div>
    </ng-container>
  </ng-container>
  <button mat-stroked-button color="accent" class="message-delete-button" tabindex="-1" (click)="deleteMessage()">削除</button>
</div>
