.message {
  margin: 7px 0px;
  display: grid;
  grid-template-columns: 90px 600px 50px;
  /*
  width: 790px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  */
}

.message-type-form {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.message-type-form ::ng-deep .mat-form-field-underline {
  display: none;
}

.message-type-select {
  text-align: center;
  padding: 0px 3px;
  width: 90%;
}

/* text araa を内包するbody */
.message-body-text {
  display: grid;
  grid-template-columns: 400px 200px;
}

.message-copy-button-tile {
  display: grid;
  grid-template-columns: 100px 100px;
}

.is-copied {
  color: gray;
}

.mat-copied {
  color: gray;
}

.message-text{
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 3px;
  margin: 0px 0px 0px 0px ;
  height: 100%;
  width: 98%;
}

.message-copy-button{
  margin: 0px 0px 0px 0px ;
}
.message-cmd-copy-button{
  margin: 0px 0px 0px 0px ;
}
.message-body-kugiri {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
.message-hr-kugiri{
  margin: 30px 0px 29px 0px;
  background: #CCCCCC;
}

.message-text-kugiri{
  text-align: center;
}

/* 全message type 共通の削除ボタン*/
.message-delete-button{
  margin: 0px 0px 0px 0px ;
}
