
<div class="message">

  <mat-form-field appearance="legacy" class="message-type-form" (click)="clickTypeSelectForm()" >
    <mat-select #typeValue class="message-type-select" tabindex="-1" 
      [(value)]="inputMessageType" (selectionChange)="typeChange($event.value)" >
      <mat-option value="say">SAY</mat-option>
      <mat-option value="shout">SHOUT</mat-option>
      <mat-option value="auc">AUC</mat-option>
      <mat-option value="kgr">===</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container [ngSwitch]="inputMessageType">
    <ng-container *ngSwitchCase="'hoge'">
      <div class="message-body-text">
        <textarea matInput class="message-text" #messageValue (change)="textChange()" > </textarea>
        <button mat-stroked-button color="primary" class="message-copy-button" 
          tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboard()">コピー！</button>
        <button mat-stroked-button color="primary" class="message-cmd-copy-button" 
          tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboardWithCmdStyle()">コマンド<br>コピー！</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'kgr'">
      <div class="message-body-kugiri">
        <!-- div #messageValue style="display: none" > </div -->
        <div class="message-hr-kugiri"></div>
        <input matInput class="message-text-kugiri" #messageValue placeholder="見出し ここをクリック" (change)="textChange()">
        <div class="message-hr-kugiri"></div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="message-body-text">
        <textarea matInput class="message-text" #messageValue cdkTextareaAutosize (change)="textChange()" > </textarea>
        <div class="message-copy-button-tile" *ngIf="isCopied; else isNotCopied">
          <button mat-stroked-button color="copied" class="message-copy-button" 
            tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboard()">コピー済！</button>
          <button mat-stroked-button color="copied" class="message-cmd-copy-button" 
            tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboardWithCmdStyle()">コマンド<br>コピー済！</button>
        </div>
        <ng-template #isNotCopied>
          <div class="message-copy-button-tile is-not-copied" >
            <button mat-stroked-button color="primary" class="message-copy-button" 
              tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboard()">コピー！</button>
            <button mat-stroked-button color="primary" class="message-cmd-copy-button" 
              tabindex="-1" (mouseover)="onMouse()" (click)="copyToClipboardWithCmdStyle()">コマンド<br>コピー！</button>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
  <button mat-stroked-button 
    color="accent" 
    class="message-delete-button" 
    tabindex="-1" 
    [disabled]="isLocked"
    (click)="deleteMessage()">
      削除
  </button>
</div>
