<div class="event-panel">
  <div class="event-info">
    <mat-form-field appearance="legacy">
      <input matInput 
        #eventNameInput
        placeholder="イベント名" 
        value="{{inputEventData.name}}" 
        (change)="renameEvent()">
    </mat-form-field>
    <button mat-icon-button
      tabindex="-1"
      color="accent" (click)="openDeleteModal()">
      <mat-icon class="event-icon">delete</mat-icon>
    </button>
  </div>
  <div class="event-main">
    <div #messages *ngFor="let messageData of inputEventData.messages">
      <app-message 
        [inputMessageId]="messageData.id"
        [inputMessageType]="messageData.msgType"
        [inputMessageText]="messageData.text"
        (textChangeEvent)="messageChange($event)" > 
      </app-message>
    </div>
    <button mat-stroked-button color="primary" (click)="addMessage()">ADD</button>
  </div>
</div>
