<div class="event-panel">
  <div class="event-info">
    <mat-form-field appearance="legacy">
      <input matInput 
        #eventNameInput
        placeholder="イベント名" 
        value="{{inputEventData.name}}" 
        (change)="renameEvent()">
    </mat-form-field>
    <button mat-stroked-button tabindex="-1" class="event-export-button" color="primary" (click)="exportJson()">EXPORT</button>
    <a #jsonDownload style="display: none" ></a>

    <button mat-stroked-button tabindex="-1" class="event-export-button" color="primary" (click)="importJson()">IMPORT</button>
    <input type="file" style="display: none" #fileInput accept="*.json" (change)="onChangeFileInput()" />

    <button mat-icon-button tabindex="-1" class="event-delete-button" color="accent" (click)="openDeleteModal()">
      <mat-icon class="event-icon">delete</mat-icon>
    </button>
    <mat-slide-toggle
      class="event-lock-toggle"
      [(ngModel)]="inputEventData.config.isLocked" 
      (ngModelChange)="changeEventLockMode($event)">削除lock</mat-slide-toggle>
  </div>
  <div class="event-main">
    <div cdkDropList class="event-message-list" (cdkDropListDropped)="drop($event)">
      <div #messages cdkDrag 
                     [class.evetn-message-panel]="!isDarkMode()" 
                     [class.evetn-message-panel-dark]="isDarkMode()" 
        *ngFor="let messageData of inputEventData.messages">
        <div class="event-message-grip" cdkDragHandle>
          <mat-icon class="event-message-grip-icon">drag_handle</mat-icon>
        </div>
        <app-message 
                    class="unicorn-dark-theme"
          [inputMessageId]="messageData.id"
          [inputMessageType]="messageData.msgType"
          [inputMessageText]="messageData.text"
          [inputMessageIsLocked]="inputEventData.config.isLocked"
          (textChangeEvent)="messageChange($event)" > 
        </app-message>
      </div>
    </div>
    <button mat-stroked-button color="primary" (click)="addMessage()">ADD</button>
  </div>
</div>
